# Configuración de MongoDB (para mantener compatibilidad)
MONGO_URI=mongodb+srv://tu-usuario:tu-contraseña@tu-cluster.mongodb.net/tappy

# Configuración de JWT
JWT_SECRET=tu_secreto_jwt_super_seguro

# Configuración de AWS y DynamoDB
AWS_REGION=us-east-1
# Solo necesario para desarrollo local, en producción usar roles IAM
# AWS_ACCESS_KEY_ID=tu_access_key
# AWS_SECRET_ACCESS_KEY=tu_secret_key
# ID de la cuenta AWS permitida para crear/modificar recursos
AWS_ACCOUNT_ID=837563945297

# Puerto del servidor
PORT=3001
›